* {
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
}

body {
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.navigation ul li{
    display: inline;
}

.summary-content p {
    text-align: justify;
}