* {
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
}

body {
    width: 90%;
    margin: 30px auto 0px;
}

img {
    width: 100%;
}
header {
    width: 90%;
    display: block;
    position: fixed;
}

ul {
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation .nav-content{
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 0.5rem;
    gap: 1rem;
}

.navigation .nav-content div a{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 1rem;
    font-size: 18px;
    transition: background-color 0.5s ease;
    border-radius: 50px;
}

.navigation .nav-content div a.active{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 50px;
    position: absolute;
    top: 50px;
    font-size: 35px;
    box-shadow: 1px 1px 6px;
    left: 0;
}

.navigation .nav-content div a:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 50px;
}

h1{
    background-color: #000000;
    color: #FFFFFF;
    display: inline;
    text-transform: uppercase;
    font-size: 50px;
    padding: 0px 10px;
}

.status {
    font-weight: bold;
    display: flex;
    gap: 5px;
}

.status img{
    width: 20px;
}

.decorate {
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}